/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
h1 { 
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 10px;
  border-color: #aa336a;
  background-color: #ffc0cb;
 text-align: center;
}

html {
background-color: #fdfd96
}

body {
color: hsl(9, 100%, 68%);
  text-align: center;
}
.me {
  width: 300px;
  display: block;
  margin-left: 450px;
  margin-right: center;
  border-style: dotted;
  border-width: thick 100px;
  border-color:cadetblue
}