/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  h1 { 
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px;
    border-color: #aa336a;
    background-color: #ffc0cb;
   text-align: center;
  }
  
html {
background-color: #fdfd96
  }
  
  body {
color: hsl(9, 100%, 68%);
    text-align: center;
  }
  .me {
    width: 300px;
    display: block;
    margin-left: 450px;
    margin-right: center;
    border-style: dotted;
    border-width: thick 100px;
    border-color:cadetblue
  }